* {
    box-sizing: border-box;
}

body {
    background: url(images/squared-paper-texture.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
    font-family: vernada, sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rbga(0, 0, 0, 0.3);
    width: 450px;
    max-width: 100%;
}

.header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2 {
    margin: 0px;
    font-size: 28px;
    text-align: center;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
}

.form .button {
    display: flex;
    justify-content: center;
    background-image: url(images/den.jpg);
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    padding: 10px;

}

.button a {
    color: white;
    text-decoration: none;
}

.form p {
    font-size: 18px;
}

.form p a {
    text-decoration: none;
}